.zs-grid-cell {
  width: 33.3333333333333%;
  float: left;
  padding: 0px 10px 20px 10px;
}
@media (min-width: 1024px) {
  .zs-grid-cell:nth-of-type(3n+1) {
    padding: 0px 10px 20px 0px;
  }
  .zs-grid-cell:nth-of-type(3n+3) {
    padding: 0px 0px 20px 10px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .zs-grid-cell {
    width: 50%;
  }
  .zs-grid-cell:nth-of-type(2n+1) {
    padding: 0px 10px 20px 0px;
  }
  .zs-grid-cell:nth-of-type(2n+2) {
    padding: 0px 0px 20px 10px;
  }
}

@media (max-width: 767px) {
  .zs-grid-cell {
    width: 100%;
    padding: 0px;
    margin-bottom: 20px; 
  }
}

@media (max-width: 320px) {
  .zs-grid-cell {
    width: 280px;
  }
}

.zs-grid::after {
  display: block;
  content: '';
  clear: both;
}

.zs-grid-cell-golden-ratio {
  position: relative;
}

.zs-grid-cell-golden-ratio::after {
  /* Hack to maintain aspect ratio as padding is calculated with respect to width */
  padding-top: 100%;
  display: block;
  content: '';
}

.zs-grid-cell-golden-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}